<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('A brand new app.') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
  <div class="main container clearfix">
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Log In">
    </form>
    <a href="/signup">Signup</a>
    <a href="/login/google">Google</a>
    <a href="/login/facebook">Facebook</a>
    <a href="/login/twitter">Twitter</a>
    <a href="/login/linkedin">Linkedin</a>
  </div>
</div>
