<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('A brand new app.') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
  <div class="main container clearfix">
    <% if(session.isAuthenticated) { %>
      <a href="/protected">Check Protected Part</a><br>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>
    <% } %>
  </div>
</div>
